:root {
    --color-accent: oklch(65% 50% 0);
    color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
  }

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

.current {
    border-bottom-width: .2em;
    border-bottom-color: var(--border-color);
    padding-bottom: .2em;
    border-bottom-style: solid;
}

a:hover {
    border-bottom-width: .2em;
    border-bottom-color: oklch(65% 50% 0);
    padding-bottom: .2em;
    border-bottom-style: solid;
}

input {
    font: inherit;
}

textarea {
    font: inherit;
}

button {
    font: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: .5em;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}
  
h1 {
  font-size: 400%;
  line-height: 1.1;
}

h2 {
  line-height: 1.1;
}

h3 {
  line-height: 1.1;
}

h4 {
  line-height: 1.1;
}

h5 {
  line-height: 1.1;
}

h6 {
  line-height: 1.1;
}

section {
  display: grid;
  grid-template-rows: auto 1fr;

}

.resume {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: .5em;
}

.color-scheme {
  font: inherit;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  @starting-style {
    r: 0;
  }
}

circle:hover {
  transform: scale(1.5);
}



dl.info {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em 1em;
}

dl.info dt,
dl.info dd {
  margin: 0;
}

dl.info dt {
  color: #cfcfcf;
  font-weight: normal;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background: rgba(64, 64, 64, 0.8);
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
}

dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}
